body{
    font-family: 'lato',sans-serif;
    font-family: 'open sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #181818;
    font-size: 450px;
    font-weight: 800;
}
.btn-primary{
    border-radius: 5px;
    background:#fd6e0a ;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 5px 5px;
}
.text-primary{
    color: #fd6e0a;
}
nav > ul{
    display: flex;
    align-items: center;
   margin: 0 200px;
}
nav li{
    list-style: none;
    margin-right:50px;
}
nav a{
    text-decoration: none;
    color: #474747;

}
.header{
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: ;
}
.banner{
    padding:30px 30px 0px 150px;
    display: flex;
   justify-content: space-between;

}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 400px;
    height: 400px;
    align-items: center;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 20px;
}
/*main section style*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top:130px;
}
/*abot section style*/
.about{
    padding: 90px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px 0;
}
.section-title{
color: black;
text-align: center;
font-size: 35px;;
font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 30px 150px;
}
/* skil related styles */
.skills-container{
    display: flex;
    gap: 24px;

}
.skill-discription{
    color: #757575;
}
.skill {
    padding: 30px;
    border-radius: 5px;
    background: #facfcf;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   
}
/*resume section styles*/
.resume-column-title{ 
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-continer{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;

}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom:10px ;
}
.resume-item-institute .resume-item-description{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0pxs;
}
.resume-container hr{
    margin: 30px;
}
.raul{
    text-align: center;
    margin-top: 50px;
}
.ratul2{
    display: flex;
    background-color: #fff8f3;
    margin-top: 100px;
    padding: 130px 200px;
    gap: 100px;
}
footer{
   background: #fff8f3;
   display: flex;
   padding: 130px 200px;
   margin-top: 100px;
   gap: 100px;
   
   
}
.footer-column{
    width: 50%;

}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color:#757575; 
    border-radius: 5px;
    border: 0;
    width: 100%;

}
.contact input{

}
.social-links a{
    margin-right: 25px;
}
.download-cv{
    text-align: center;
    margin-top:50px ;
}